
@{
    ViewBag.Title = "Index";
}

<h2>Third</h2>
<form method="post" action="/Third/Index">
    <input type="text" name="field" value="" />
    <br />
    <input type="submit" value="Hello!" />
    @ViewBag.Res
    <span>Метод: </span>@ViewBag.Method
</form>


